<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <div class="card" >  
    <div class="card-body bg-light">
     <div class="card-title"><strong><%= comment.username %></strong>
     <%= link_to "[X]", [comment.post, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
     </div>
        
        <div class="card-text"> <%= comment.body %> </div>
    </div>
    
  </div>
<% end %>