<h1>Blog Posts</h1>
<% @post.each do |item| %>
<div class="card">
<div class="card-body bg-light">
  <h4><%= item.title %></h4>
  <p><%= item.body %></p>
  <%= link_to "Read More", post_path(item), :class => "btn btn-outline-secondary"  %>
  </div>
</div>  
<% end %>